*{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(trendytreasuresicon.jpg) ;
    background-color: azure;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.product{
    border: 20px solid goldenrod ;
    border-radius: 20px;
    text-decoration: dashed goldenrod;
    padding: 20px;
    margin: 300px;
    background-color: goldenrod;
}
.imagebox{
    border: goldenrod;
    border-radius: 20px;
}